:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --white-title-color: #FFFFFF;
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #2F303A;
  --buttons-bg-color: #F5F4FA;
  --black-color: #000000;
  --team-bg-color: #F5F5F5;
}


body {
  color: var(--primary-text-color);
  background:var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
.link { text-decoration: none;}

/* 
/* -------------------HEADER------------------------- */
.logo { font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: 'Raleway';
  color: var(--black-color);
}

.logo>span { text-decoration: none;
  color: var(--accent-color);
}

.header-contacts-item {font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  text-decoration: none;
  color: var(--accent-color)
}

.link {  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.link-current {text-decoration: none;
  color: var(--accent-color);}

.link:hover,
.link:focus { text-decoration: none;
  color: var(--accent-color);
}
/* -------------------HERO------------------------- */

.hero {
  background: var(--secondary-bg-color)
}

.hero-title {  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white-title-color);

}

.hero-button { font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: var(--white-title-color);
  background: var(--accent-color);
  cursor: pointer
}
/* -------------------MAIN------------------------- */


.feature-text {font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.feature-title{font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;}
.team { color:var(--team-bg-color) ;}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
color: var(--primary-text-color); }
.team-member-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}
.our-team, .about-us-title {font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
color: var(--primary-text-color);}
button { 
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--primary-text-color);
  background: var(--buttons-bg-color); 
  border: none;
}

button:hover { color: var(--white-title-color);
  background-color: var(--accent-color);
  cursor: pointer;}

.portfolio-element-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: ;
}
.portfolio-element-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* -------------------FOOTER------------------------- */
footer {
  background: var(--secondary-bg-color)
}

.logo-footer { font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white-title-color)

}

.logo-footer>span {
  color: var(--accent-color);
}


.contacts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--white-title-color)
}
.contacts-address:hover,
.contacts-address:focus {
  text-decoration: none;
  color: var(--accent-color)
}
.footer-contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
color:var(--secondary-text-color) ;}
.footer-contacts-item:hover{color: var(--accent-color);}